.flex {
  display: flex;
}

.flex-col-8 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-col-20 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.grid {
  display: grid;
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-12 {
  padding-top: 12px;
}
